/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  /* Content */
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --content-inverse: #030203;

  /* Background */
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;

  /* Accent */
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0af;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  /* Gradient */
  --gradient-border: #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%,
    #91a1fa 84.58%;
  --gradient-background: #d586e0 0%, #91a1fa 98.93%;
  --gradient-content: #c7c9cc 0%, #3d3d3d 100%;

  /* Fonts */
  --display-large: 800 4.5rem/130% "Sora", sans-serif;
  --display-medium: 800 2.5rem/130% "Sora", sans-serif;
  --display-small: 700 2rem/130% "Sora", sans-serif;

  --overline: 700 1rem/150% "Roboto Mono", sans-serif;

  --paragraph-large: 500 1rem/150% "Roboto Flex", sans-serif;
  --paragraph-medium: 500 0.875rem/150% "Roboto Flex", sans-serif;
  --paragraph-small: 500 0.75rem/150% "Roboto Flex", sans-serif;
  --label-medium: 700 1.25rem/150% "Roboto Flex", sans-serif;
  --label-small: 700 1rem/150% "Roboto Flex", sans-serif;
}

/* Styles */
body {
  background: var(--background-primary);
  background-image: url(assets/img/Shapes.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body img {
  position: absolute;
  margin: 4.75rem 0 0 7.5rem;
}

/* =============== MAIN CONTAINER CONTENT  =============== */
.number-generator {
  display: grid;
  grid-template:
    "number-generator__header number-generator__container"
    "number-generator__questions number-generator__container";
  row-gap: 38px;
  margin: 0 auto;
  max-width: 1098px;
  min-height: 100dvh;
  place-content: center;
  align-items: center;
}

/* =============== LEFT SIDE =============== */

/* Header */
.number-generator__header {
  grid-area: number-generator__header;
  max-width: 582px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.number-generator__tagline {
  font: var(--overline);
  background: linear-gradient(var(--gradient-content));
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

.number-generator__title {
  color: var(--content-primary);
  font: var(--display-large);
  text-transform: uppercase;
}

/* Questions */
.number-generator__questions {
  grid-area: number-generator__questions;
  max-width: 386px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.number-generator__features {
  display: flex;
  gap: 8px;
}

.feature__content {
  max-width: 358px;
}

.feature__title {
  color: var(--content-brand);
  font: var(--paragraph-medium);
}

.feature__description {
  color: var(--content-secondary);
  font: var(--paragraph-small);
  letter-spacing: 0px;
}

/* Randomic Number */
.number-generator__container {
  grid-area: number-generator__container;
  width: 482px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.number-generator__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form__introduction {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form__title {
  font: var(--label-medium);
  color: var(--content-primary);
  text-transform: uppercase;
}

.form__description {
  color: var(--content-secondary);
  font: var(--paragraph-large);
}

/* Forms */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__inputs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 86px;
  height: 88px;
  box-sizing: border-box;
}

.form__label {
  font: var(--label-small);
  color: var(--content-secondary);
  text-transform: uppercase;
  text-align: center;
}

.form__input {
  background-color: var(--background-secondary);
  border-radius: 8px;
  padding: 4px 8px;
  height: 56px;
  border: none;
  color: var(--content-primary);
  font: var(--display-small);
  text-align: center;
  cursor: pointer;
}

.form__input:hover {
  border: 1px solid transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-image: linear-gradient(
      var(--background-secondary),
      var(--background-secondary)
    ),
    linear-gradient(90deg, var(--gradient-border));
}

.form__input:focus {
  outline: none;
  border: 2px solid transparent;
  background: linear-gradient(
        var(--background-secondary),
        var(--background-secondary)
      )
      padding-box,
    linear-gradient(90deg, var(--gradient-border)) border-box;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form__switch {
  display: flex;
  white-space: nowrap;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.form__switch-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form__switch-slider {
  width: 30px;
  height: 20px;
  border-radius: 1rem;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
  background: linear-gradient(90deg, var(--content-tertiary));
}

.form__switch-input:checked + .form__switch-slider {
  background: linear-gradient(90deg, var(--gradient-background));
}

.form__switch-slider::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  left: 3px;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.form__switch-input:checked + .form__switch-slider::before {
  transform: translateX(10px);
}

.form__switch-text {
  color: var(--content-primary);
  font-size: 0.75rem;
  font-family: "Inter", sans-serif;
  line-height: 150%;
  letter-spacing: 0%;
}

/* ========== DRAW RESULT ========== */
/* .number-generator__result {} */

.result__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result__title {
  font: var(--label-medium);
  color: var(--content-primary);
  text-transform: uppercase;
  margin-bottom: 4px;
}

.result__paragraph {
  font: var(--label-small);
  color: var(--content-secondary);
  text-transform: uppercase;
  margin-bottom: 40px;
}

.result__sort-numbers {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--content-primary);
  overflow-x: auto;
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #77c0af #ffffff;
}

.result__sort-numbers::-webkit-scrollbar {
  height: 6px;
}

.result__sort-numbers::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

.result__sort-numbers::-webkit-scrollbar-thumb {
  background: #77c0af;
  /* verde do seu palette */
  border-radius: 10px;
}

.result__sort-numbers::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.result__sort-numbers .result__numbers {
  font-size: 3rem;
  line-height: 150%;
  font-weight: bold;
  letter-spacing: 0%;
  font-family: "Roboto Mono", sans-serif;
  color: var(--content-brand);
  padding: 7px 13px;
}

/* Button Draw */
.form__button-primary {
  position: relative;
  background: var(--background-tertiary);
  color: var(--content-primary);
  font: var(--label-medium);
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 8px;
  height: 56px;
  padding: 16px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form__button-primary:hover {
  border: 1px solid transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-image: linear-gradient(
      var(--background-tertiary),
      var(--background-tertiary)
    ),
    linear-gradient(90deg, var(--gradient-border));
  box-shadow: 0 0 10px rgba(197, 141, 231, 0.4);
}

.form__button-primary:active {
  transform: scale(0.98);
  box-shadow: 0 0 14px rgba(197, 141, 231, 0.6);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-image: linear-gradient(
      var(--background-tertiary),
      var(--background-tertiary)
    ),
    linear-gradient(90deg, var(--gradient-border));
}

.form__button-primary svg {
  transition: transform 0.3s ease;
}

.form__button-primary:hover svg {
  transform: translateX(4px);
}

.form__button-primary:not(:hover) svg {
  transform: translateX(0);
}

.number-generator__result {
  display: none;
}

/* =============== Responsive mobile =============== */
@media (min-width: 0px) and (max-width: 1064px) {
  body img {
    inset: 0;
    margin: 2.75rem auto 0;
    bottom: unset;
  }

  .number-generator {
    grid-template:
      "number-generator__header"
      "number-generator__container"
      "number-generator__questions";
    max-width: 320px;
    place-content: unset;
    margin-top: 8rem;
    align-items: unset;
    row-gap: 42px;
    min-height: unset;
  }

  .number-generator__header {
    gap: 8px;
    max-width: 320px;
  }

  .number-generator__title {
    font: var(--display-medium);
  }

  .number-generator__container {
    width: unset;
  }

  .form__description {
    font: var(--paragraph-medium);
  } 

  .number-generator__questions {
    padding: 40px 0;
  }
}
